html{
    font-family: Arial, Helvetica, sans-serif;
    background-color:linear-gradient(135deg,rgb(6, 21, 241),rgb(12, 248, 91) );
}
body{
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px ;
    background: rgb(213, 228, 6),white;
    border-radius: 20px;
    border: none;
    box-shadow: 0 15px 40px rgb(24, 68, 211); 
    animation: aparecer 1s ease-in-out;
}
h1{
    font-size: 64PX;
    text-align: center;
    color:rgb(15, 9, 7);
    text-shadow: 3px 3px 10px black;
    transition: 0.3 ease;
}
h2{
    font-size: 30px;
    color:rgb(248, 54, 20)0;
    border-left: 6px solid rgb(17, 190, 233);
    padding-left: 10px;
}
p,li{
    font-size: 21px;
    line-height: 1.5;
    text-align: justify;
    color: #444;
}
img{
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgb(32, 19, 6);
    transition: 0.5 ease;
}
iframe{
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgb(209, 105, 0);
}
a{
    color: rgb(red, green, blue);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3;
}
h1:hover{
    transform: scale(1.05) rotate(1deg);
}
a:hover{
    color: rgb(rgb(252, 45, 45), rgb(83, 248, 83), rgb(62, 62, 245));
    text-decoration: underline;
}
@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}